<html>
    <title>Privacy Policy</title>
    
    <body>Privacy Policy</a>
        </h2>
        </div>
        </td>
        </tr>
        </tbody>
        </table>
        </div>
        <div id="sites-chrome-main-wrapper">
            <div id="sites-chrome-main-wrapper-inside">
                <table id="sites-chrome-main" class="sites-layout-hbox" cellspacing="0" cellpadding="{scmCellpadding}" border="0">
                    <tbody>
                        <tr>
                            <td id="sites-canvas-wrapper">
                                <div id="sites-canvas" role="main">
                                    <div id="goog-ws-editor-toolbar-container"></div>
                                    <div xmlns="http://www.w3.org/1999/xhtml" id="title-crumbs" style=""></div>
                                    
<h3 xmlns="http://www.w3.org/1999/xhtml" id="sites-page-title-header" style="" align="left">
<span id="sites-page-title" dir="ltr" tabindex="-1" style="outline: none">Privacy Policy Agreement</span>
</h3>

                                    <div id="sites-canvas-main" class="sites-canvas-main">
                                        <div id="sites-canvas-main-content">
                                            <table xmlns="http://www.w3.org/1999/xhtml" cellspacing="0" class="sites-layout-name-one-column sites-layout-hbox">
                                                <tbody>
                                                    <tr>
                                                        <td class="sites-layout-tile sites-tile-name-content-1">
                                                            <div dir="ltr">
                                                                <div><font color="#000000">This agreement was written in English (US) .</font>

                                                                </div>
                                                                <div><font color="#000000"><br></font>

                                                                </div>
                                                                <div><font color="#000000"><strong>Privacy Policy</strong> <br>Your privacy is very important to us. We designed our Privacy Policy to make important disclosures about how&nbsp;we are going to use data shared by Facebook.</font>

                                                                </div>
                                                                <div><font color="#000000"><br></font>

                                                                </div>
                                                                <div><strong><font color="#000000">Data we need</font></strong>

                                                                </div>
                                                                <div><font color="#000000">Movies liked and&nbsp;watched&nbsp;by the user and his/her friends along with some basic profile info</font>

                                                                </div>
                                                                <div>
                                                                    <br>
                                                                </div>
                                                                <div><strong><font color="#000000">Purpose of this data.</font></strong>

                                                                </div>
                                                                <div><font color="#000000">We are making a android application that is based on a recommendation algorithm which we are currently using for movies. So we need the above data to predict which kind of movies should be suggested/recommended to the user by looking&nbsp;at which type of movies his/her friends&nbsp;have liked or watched. The data is solely needed for our research purpose.</font>

                                                                </div>
                                                                <div>
                                                                    <br>
                                                                </div>
                                                                <div><strong><font color="#111111">Sharing Your Content and Information</font></strong>

                                                                </div>
                                                                <div><font color="#111111">1. The data we are asking for will only be shared among the developers of our application and our mentor.</font>

                                                                </div>
                                                                <div><font color="#111111">&nbsp;&nbsp; Please Find below the contacts of the above.</font>

                                                                </div>
                                                                <div><font color="#111111">&nbsp;<strong>&nbsp; E-mail</strong></font>

                                                                </div>
                                                                <div><font color="#111111">&nbsp;&nbsp; Vedant Das Swain(Developer)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:vedant12118@iiitd.ac.in">vedant12118@iiitd.ac.in</a></font>

                                                                </div>
                                                                <div><font color="#111111">&nbsp;&nbsp; Vinayak Naik(Mentor)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="mailto:naik@iiitd.ac.in">naik@iiitd.ac.in</a></font>

                                                                </div>
                                                                <div><font color="#111111"><br></font>

                                                                </div>
                                                                <div><font color="#111111"><strong>Safety</strong></font>

                                                                </div><font color="#111111"><div>&nbsp;&nbsp;&nbsp;&nbsp; 1.&nbsp;We will not send or use this data for any unauthorized commercial use.</div><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2. We&nbsp;will not&nbsp;misuse&nbsp;other user&nbsp;sensitive information&nbsp;without your permission.</div><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;3.&nbsp;We will not bully, intimidate, or harass any user.</div><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;4. We&nbsp;will not post content that is hateful, threatening or objectionable.</div><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;5.&nbsp;We will not use&nbsp;the data provided by you&nbsp;to do anything unlawful, misleading, malicious or&nbsp;discriminatory.</div></font>

                                                                <div><font color="#111111"><br></font>

                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="sites-canvas-bottom-panel">
                                        <div xmlns="http://www.w3.org/1999/xhtml" id="COMP_page-subpages"></div>
                                        <div id="sites-attachments-container"></div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        </div>
        </div>
        </div>
        </div>
    </body>
    <html>