Django==1.7.3
django-facebook==6.0.2
django-gcm==1.0.6
django-tastypie==0.12.1
djangorestframework==3.0.3
MySQL-python==1.2.5
numpy==1.8.0rc1
oauthlib==0.7.2
omdb==0.3.1
Pillow==2.7.0
py2app==0.7.3
PyJWT==0.4.1
pyOpenSSL==0.13.1
pyparsing==2.0.1
python-dateutil==1.5
python-mimeparse==0.1.4
python-openid==2.2.5
python-social-auth==0.2.1
pytz==2015.2
requests==2.5.1
requests-oauthlib==0.4.2
scipy==0.13.0b1
six==1.4.1
South==1.0.2
Twisted==13.2.0
Unidecode==0.4.17